# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/

# Photos (user data)
app/static/photos/
app/static/unknown_faces/*.jpg
.vercel
